body{
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

input{
  padding: 10px;
  margin: 5px;
  width: 80%;
}

button{
  padding: 10px;
  margin: 5px;
}

.card img{
  width: 100%;
}
